tr {
  height: 80px;
}

td {
  text-align: center;
  width: 200px;
}

td.first-color {
  color: #ffffff;
  background-color: #798f8f;
}

td.second-color {
  color: #000000;
  background-color: #f5f579;
}

td.first-color:hover {
  background-color: #867070;
}

td.second-color:hover {
  color: #ffffff;
  background-color: #0a0a86;
}

img.by-position {
  position: absolute;
  top: 380px;
  left: 100px;
}

img.by-transform {
  transform: translate(500px, 43px);
}
